.idea/
./data/
./figs/
__pycache__/
SOWFA data/
*.csv
*.csv
*.png
*.mp4
./floris/floris_dynamic_special/2turb_wake_field_cases/*.csv
./floris/floris_dynamic_special/9turb_wake_field_cases/*.csv
./floris/floris_dynamic_special/2turb_wake_field_tsdata
./floris/floris_dynamic_special/9turb_wake_field_tsdata/
junk.py
scalars/
./floris/floris_dynamic_special/9turb_wake_field_simulations/
./floris/floris_dynamic_special/2turb_wake_field_simulations/
figs/
.DS_Store